body {
    background-color: rgb(255, 255, 255) !important;
  }
  
  .landing-page-header {
    height: 50rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .landing-page-box {
    background-color: rgb(144, 214, 255) !important;
    border-radius: 1rem;
    height: 65%;
    width: 70%;
  }
  
  .create-volunteer-modal {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
  }
  
  .landing-page-content {
    text-align: left;
  }
  
  .svg-modal {
    width: 60%;
    height: 100%;
    float: right;
    position: absolute;
    top: 7rem;
    right: -10rem;
  }
  
  .card-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C6DDFF !important;
    padding-top: 3rem;
  }
  
  .ngo-card-link {
    color: white;
    text-decoration: none;
    padding: 0;
    width: 80%;
    margin-bottom: 2rem;
    background-color: white !important;
  }
  
  .ngo-card-link :hover {
    color: white;
    box-shadow: 0;
    background-color: white;
  }
  
  .ngo-card {
    width: 100%;
    box-shadow: 0 8px 32px 0 rgb(60, 146, 195);
    transition: 0.4s;
    background-color: white !important;
  }
  
  .button {
    color: #d247f7;
    border-color: #8c2fa5;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
  }
  