#navbarSupportedContent {
  padding-right: 5rem;
}

.nav-item {
  margin: 0 20px;
}

.navbar-brand {
  color: #FF6584;
}

.navbar-brand:hover {
  color: #de012d;
}

.nav-link {
  color: #FF6584;
}

.nav-link:hover {
  color:  #de012d;
}

#nav-div {
  width: 90vw;
  height: 6vh;
  border-radius: 10px;
  background-color: white;
  color: white;
  margin-bottom: 4rem;
  margin-top: -4rem;
}
