body {
  background-color: #c6ddff!important;
}

#ngo-detail {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ngo-logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
